<section>
  <div class="wrapper">

    <hgroup>
			<marquee behavior="alternate" direction="left" scrollamount="10">
				<h1>KOALA MAGIC ★ NO LOGO ★ </h1>
			</marquee>
    </hgroup>

    <div id="countdown">
      <div class="cd-box">
        <p class="numbers days">00</p>
        <p class="strings timeRefDays">Days</p>
      </div>
      <div class="cd-box">
        <p class="numbers hours">00</p>
        <p class="strings timeRefHours">Hours</p>
      </div>
      <div class="cd-box">
        <p class="numbers minutes">00</p>
        <p class="strings timeRefMinutes">Minutes</p>
      </div>
      <div class="cd-box">
        <p class="numbers seconds">00</p>
        <p class="strings timeRefSeconds">Seconds</p>
      </div>
    </div>
    <!-- end div#countdown -->

  </div>
  <!-- end div.wrapper -->
</section>