 /* resets and general styles */

 @font-face {
	font-family: 'Gilroy';
	src: url('Gilroy-Thin.eot');
	src: local('Gilroy Thin'), local('Gilroy-Thin'),
			url('./fonts/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
			url('./fonts/Gilroy-Thin.woff') format('woff'),
			url('./fonts/Gilroy-Thin.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

::-moz-selection{
	color: #FFFFFF;
	background: #FF5722;
}

::selection{
	color: #FFFFFF;
	background: #FF5722;
}

body {
	font: normal 16px 'Roboto', sans-serif;
	height: 100vh;
	width: 100%;
	background: #000000 url('./img/koala.svg') center no-repeat;
	background-size: 80%;
}

div.wrapper{
	width: calc(5*225px);
	margin: 0 auto;
}

a{transition: .2s; text-decoration: none; color: #787878; border-bottom: 1px solid #607D8B;}
a:hover{transition: .2s; color: #FF5722;}

/* page layout */

/* header */

header{
	width: 100%;
	background: #607D8B;
}

/* section */

section {
	width: 100%;
}

section h1, section p.meta{
	font-family: 'Gilroy';
	text-transform: uppercase;
	font-weight: 300;
	color: #FFFFFF;
	margin-bottom: 15px;
}

section h1{font-size: 96px; margin-top: 1rem;}

/* countdown styles */

div#countdown{
	color: #353535;
	display: flex;
	justify-content: space-between;
}

p.numbers{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 172px;
	font-family: "Bebas Neue";
	font-weight: normal;
	width: 100%;
	height: 85%;
	background: #FFFFFF;
}

p.strings{
	position: absolute;
	left: -4px;
	bottom: -27px;
	font-family: "Bebas Neue";
	font-weight: normal;
	font-size: 72px;
	width: 100%;
	height: auto;
	color: #000000;
}

div.cd-box {
	position: relative;
	width: 265px;
	height: 440px;
	background: #FFFFFF;
	display: flex;
	flex-direction: column;
}

/* footer */

footer p {
	margin-top: 3rem;
	text-align: center;
  font-family: "Gilroy";
	font-style: normal;
	font-weight: 300;
	font-size: 48px;
	color: white;
}